{% extends "./navbar.html" %}
{% block content %}
<table class="table table-bordered">
	<thead>
		<th scope="col">MD5</th>
		<th scope="col">Strings IP</th>
		<th scope="col">Yara</th>
	</thead>
	<tbody>
		{% for value in file %}
			<tr>
				<th scope="row">{{ value['md5'] }}</th>
					<td>
					{% for values in value['string-match']  %}
                                        {{ values }} -
                                    {% endfor %}
                                        </td>
					
					</td>
					<td>
					{% for values in value['yara-match']  %}
						{{ values }} -  
					{% endfor %}
					</td>
			</tr>
		{% endfor %}
</table>
{% endblock %}

  </body>
  </html>
